**/.DS_Store
*/.vs/
*/x64/
*/.vscode/
*\.vscode\
*/.idea/
**/cmake-build-debug/
*/venu/
*.DS_Store
.DS_Store
**/.idea/
*.idea/
*/__pycache__/
**/__pycache__/
*/build/
~$*.docx
~$*.pptx